@model Teach_Ease_Lite.Models.Login
@{
    ViewBag.Title = "InstructorSignUp";
}


<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @using (Ajax.BeginForm("InstructorSignUp", "Login", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateEmpty", OnSuccess = "onSaveResponse" }, new { id = "InstructorSignUp" }))
    {
        <div class="p-4">
            <div class="row" style="margin-top:-20px;">
                <div class="col-md-6 p-2">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", autocomplete = "off", MaxLength = "100" })
                </div>
                <div class="col-md-6 p-2">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", autocomplete = "off", MaxLength = "100" })
                </div>
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email", autocomplete = "off", MaxLength = "100" })
                </div>
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Mobile", autocomplete = "off", MaxLength = "10" })
                </div>
                <div class="col-md-12 p-2">
                    <button class="main-btn" style="line-height:40px; padding:0 20px;">Sign Up</button>
                </div>
                <div class="col-md-12" style="font-size:11px;">
                    By signing up, I am confirming I accept the <a target="blank" href="javascript:void(0)">Terms & Condition and Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-color-custom pt-2 pb-2">
            <div style="text-align:center; width:100%">
                Already have an account? &nbsp;<a href="javascript:void(0)" onclick="InstructorSignIn()" class="link-primary">Login</a>
            </div>
        </div>
    }
</body>
</html>

<script type="text/javascript">
    function InstructorSignIn() {
         $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("InstructorLogin", "Login")',
            data: { },
            success: function (response) {
                if (response != null) {
                    $("#headerTitleName").html("Sign In");
                    $("#divLoginPopupPageContent").html(response);
                    $("#dialog-preview-login").modal('show');
                }
            }
        });
    }
</script>